/* $accentColor = #3eaf7c // 主题色 */

/* 头部图片 */
#app .navbar .home-link span:before {
  display: inline-block;
  content: "";
  width: 2.5rem;
  height: 2.2rem;
  margin-right: 0.8rem;
  background: url("../img/logo.png") no-repeat;
  background-size: 100% 100%;
  vertical-align: top;
  border-radius: 50%;
}

#app .home-blog .hero .mask::after {
  opacity: 0;
}

#app .home-blog .hero h1 {
  margin: 0;
  font-weight: 700;
  color: #242424 !important;
}

#app .home-blog .hero p.description {
  font-family: monospace;
  color: #242424 !important;
}

.page .page-title {
  max-width: 840px !important;
}
.bilibili-player-video-recommend {
  display: none !important;
}
.bilibili-player-video-recommend-container {
  display: none !important;
}
/* 放开评论
.valine-wrapper {
	display:none !important;
}
*/
